/* не учитывать расшинрение елементов падингами и т.д. */
*,
*::after,
*::before {
    box-sizing: border-box;
}

// обнулить ссылки
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

// ===== GLOBAL VALUES =====
body {
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    // .container-content
    &-content {
        max-width: 970px;
        margin: 0 auto;
    }
}

.title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    color: #4e5665;
}

.section-line {
    border-bottom: 1px solid rgba($color: #d8d0d0, $alpha: 0.5);
}

// ===== MAIN CODE =====

// .header
.header {
    // .header__top
    &__top {
        background-image: url("../images/header/header-bg.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px;

        // .header__top-inner
        &-inner {
            border: 2px solid #ecb84c;
            border-bottom: none;

            display: flex;
            flex-direction: column;
            height: 100%;

            color: #ffffff;

            font-family: Georgia;
        }
    }

    // .header__title
    &__title {
        font-weight: bold;
        font-size: 200px;
        line-height: 227px;

        margin: auto;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    // .header__text
    &__text {
        font-size: 24px;
        line-height: 27px;

        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);

        display: flex;
        white-space: nowrap;
        align-items: center;

        margin-bottom: -12px;

        &::before,
        &::after {
            content: "";
            border-top: 2px solid #ecb84c;
            width: 100%;
        }

        &::before {
            margin-right: 30px;
        }

        &::after {
            margin-left: 30px;
        }
    }
}

// .menu
.menu {
    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        // .menu__list-item

        // .menu__list-link
        &-link {
            padding: 24px 10px 16px;
            margin: 0 6px;

            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #909090;
            border-bottom: 4px solid transparent;
            transition: all 0.5s;

            &:hover {
                color: #4e5665;
                border-bottom: 4px solid #ecb84c;
            }
        }
    }
}

// .reason
.reason {
    padding-top: 80px;

    // .reason__title
    &__title {
        margin-bottom: 22px;
        text-align: center;
    }

    // .reason__text

    // .reason__link
    &__link {
        text-align: right;

        & a {
            font-weight: 700;
            color: #ecb84c;
            margin-bottom: 36px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .reason__stats
    &__stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 80px;

        // .reason__stats-item
        &-item {
            text-align: center;
        }

        // .reason__stats-img
        &-img {
            height: 80px;
            margin-bottom: 32px;
        }

        // .reason__stats-num
        &-num {
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: #4e5665;
        }

        // .reason__stats-text
        &-text {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #909090;
        }
    }
}

// .about
.about {
    padding-top: 80px;

    // .about__title
    &__title {
        text-align: center;
        margin-bottom: 13px;
    }
    // .about__text
    &__text {
        margin-bottom: 72px;
    }
    // .about__item
    &__item {
        margin-bottom: 100px;
        padding: 70px 0;
        background-repeat: no-repeat;
        background-position: right;

        &:nth-child(even) {
            background-position: left;

            & .about__box {
                margin-left: auto;

                &::before {
                    right: 19px;
                    left: auto;
                    border-left: none;
                    border-right: 2px solid #ecb84c;
                }

                &::after {
                    left: 19px;
                    border-right: none;
                    border-left: 2px solid #ecb84c;
                }
            }
        }
    }
    // .about__box
    &__box {
        padding: 33px 40px;
        background-color: #fff;
        max-width: 470px;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 33px;
            height: 33px;
        }

        &::after {
            border-bottom: 2px solid #ecb84c;
            border-right: 2px solid #ecb84c;
            bottom: 19px;
            right: 19px;
        }

        &::before {
            border-top: 2px solid #ecb84c;
            border-left: 2px solid #ecb84c;
            top: 19px;
            left: 19px;
        }

        // .about__box-title
        &-title {
            margin-bottom: 20px;
            font-family: Georgia;
            font-size: 24px;
            line-height: 25px;
            font-weight: 400;

            color: #4e5665;
        }
    }
}

// .photo
.photo {
    padding: 80px 0;

    // .photo__title
    &__title {
        margin-bottom: 42px;
        text-align: center;
    }
    // .photo__text
    &__text {
        padding-bottom: 48px;
        margin-bottom: 56px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 270px;
            height: 1px;
            background-color: rgba($color: #d0d4d8, $alpha: 0.5);
            bottom: 0;
            margin: 0 auto;
        }
    }
    // .photo__slider
    &__slider {
        max-width: 640px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 0 25px rgba($color: #414141, $alpha: 1);
    }
    // .photo__img
    &__img {
        border-radius: 5px;
    }
}

.slick {
    // .slick-arrow
    &-arrow {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ecb84c;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
    // .slick-prev button
    &-prev {
        left: -20px;
    }
    // .slick-next button
    &-next {
        right: -20px;
    }
}
